<div id="container_page--story">
    <div id="container_slider--story">
        <div class="img" style=" background: url('https://unsplash.it/1920/1080') no-repeat center fixed; -webkit-background-size: cover; background-size: cover; "></div>
        <div class="arrow--right"></div>
        <div class="arrow--left"></div>
        <div class="container_pagination--slider">
            <div class="line_slider img_slider1"></div>
            <div class="line_slider img_slider2"></div>
            <div class="line_slider img_slider3"></div>
        </div>
    </div>
    <div id="container_story">
        <div class="story">
            <div class="story_intro">
                <div class="title_story">
                    <h4>{{title.date}}</h4>
                    <h1>{{title.firstname}}</h1>
                    <h1>{{title.secondname}}</h1>
                    <h1>{{title.intro-sentence}}</h1>
                </div>
                <div class="description_story">
                    <h3>{{description}}</h3>
                </div>
                <div class="para_story">
                    <p>{{story-part1.one}}</p>
                </div>
                <div class="para_story">
                    <p>{{story-part1.two}}</p>
                </div>
            </div>
            <div class="story_part1">
                <div class="para_story">
                    <p>{{story-part2.one}}</p>
                </div>
                <div class="para_story">
                    <p>{{story-part2.two}}</p>
                </div>
                <div class="para_story">
                    <p>{{story-part2.three}}</p>
                </div>
                <div class="para_story">
                    <p>{{story-part2.four}}</p>
                </div>
            </div>
            <div class="story_part2">
                <div class="para_story">
                    <p>{{story-part3.one}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
