<div id="container_slider--story">
    <div id="slider-wrapper">
        <div class="inner-wrapper">
            <input checked type="radio" name="slide" class="control" id="Slide1" />
            <label for="Slide1" id="s1"></label>
            <input type="radio" name="slide" class="control" id="Slide2" />
            <label for="Slide2" id="s2"></label>
            <input type="radio" name="slide" class="control" id="Slide3" />
            <label for="Slide3" id="s3"></label>
            <input type="radio" name="slide" class="control" id="Slide4" />
            <label for="Slide4" id="s4"></label>
            <div class="overflow-wrapper">
                <div class="slider1">
                    <div class="slide slide1-img1" href=""></div>
                    <div class="slide slide1-img2" href=""></div>
                    <div class="slide slide1-img3" href=""></div>
                    <div class="slide slide1-img4" href=""></div>
                </div>
                <div class="slider2 hide_slider">
                    <div class="slide slide2-img1" href=""></div>
                    <div class="slide slide2-img2" href=""></div>
                    <div class="slide slide2-img3" href=""></div>
                    <div class="slide slide2-img4" href=""></div>
                </div>
                <div class="slider3 hide_slider">
                    <div class="slide slide3-img1" href=""></div>
                    <div class="slide slide3-img2" href=""></div>
                    <div class="slide slide3-img3" href=""></div>
                    <div class="slide slide3-img4" href=""></div>
                </div>
                <div class="slider4 hide_slider">
                    <div class="slide slide4-img1" href=""></div>
                    <div class="slide slide4-img2" href=""></div>
                    <div class="slide slide4-img3" href=""></div>
                    <div class="slide slide4-img4" href=""></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="arrow--right"></div>
        <div class="arrow--left"></div> -->
</div>
<div id="container_story">
    <div class="story">
        <div class="story_intro">
            <div class="title_story">
                <h4>{{story1.title.date}}</h4>
                <h1>{{story1.title.firstname}}</h1>
                <h1>{{story1.title.secondname}}</h1>
                <h1>{{story1.title.intro-sentence}}</h1>
            </div>
            <div class="description_story">
                <h3>{{story1.description}}</h3>
            </div>
            <div class="para_story">
                <p>{{story1.story-part1.one}}</p>
            </div>
            <div class="para_story">
                <p>{{story1.story-part1.two}}</p>
            </div>
        </div>
        <div class="story_part1">
            <div class="para_story">
                <p>{{story1.story-part2.one}}</p>
            </div>
            <div class="para_story">
                <p>{{story1.story-part2.two}}</p>
            </div>
            <div class="para_story">
                <p>{{story1.story-part2.three}}</p>
            </div>
            <div class="para_story">
                <p>{{story1.story-part2.four}}</p>
            </div>
            <div class="para_story">
                <p>{{story1.story-part3.one}}</p>
            </div>
        </div>

        <!-- Story 2 -->

        <div class="story_intro story2">
            <div class="title_story">
                <h4>{{story2.title.date}}</h4>
                <h1>{{story2.title.firstname}}</h1>
                <h1>{{story2.title.secondname}}</h1>
                <h1>{{story2.title.intro-sentence}}</h1>
            </div>
            <div class="description_story">
                <h3>{{story2.description}}</h3>
            </div>
            <div class="para_story">
                <p>{{story2.story-part1.one}}</p>
            </div>
            <div class="para_story">
                <p>{{story2.story-part1.two}}</p>
            </div>
        </div>
        <div class="story_part1 story2">
            <div class="para_story">
                <p>{{story2.story-part2.one}}</p>
            </div>
            <div class="para_story">
                <p>{{story2.story-part2.two}}</p>
            </div>
            <div class="para_story">
                <p>{{story2.story-part2.three}}</p>
            </div>
            <div class="para_story">
                <p>{{story2.story-part2.four}}</p>
            </div>
        </div>

        <!-- Story 3 -->

        <div class="story_intro story3">
            <div class="title_story">
                <h4>{{story3.title.date}}</h4>
                <h1>{{story3.title.firstname}}</h1>
                <h1>{{story3.title.secondname}}</h1>
                <h1>{{story3.title.intro-sentence}}</h1>
            </div>
            <div class="description_story">
                <h3>{{story3.description}}</h3>
            </div>
            <div class="para_story">
                <p>{{story3.story-part1.one}}</p>
            </div>
            <div class="para_story">
                <p>{{story3.story-part1.two}}</p>
            </div>
        </div>
        <div class="story_part1 story3">
            <div class="para_story">
                <p>{{story3.story-part2.one}}</p>
            </div>
            <div class="para_story">
                <p>{{story3.story-part2.two}}</p>
            </div>
            <div class="para_story">
                <p>{{story3.story-part2.three}}</p>
            </div>
            <div class="para_story">
                <p>{{story3.story-part2.four}}</p>
            </div>
        </div>

        <!-- Story 4 -->

        <div class="story_intro story4">
            <div class="title_story">
                <h4>{{story4.title.date}}</h4>
                <h1>{{story4.title.firstname}}</h1>
                <h1>{{story4.title.secondname}}</h1>
                <h1>{{story4.title.intro-sentence}}</h1>
            </div>
            <div class="description_story">
                <h3>{{story4.description}}</h3>
            </div>
            <div class="para_story">
                <p>{{story4.story-part1.one}}</p>
            </div>
            <div class="para_story">
                <p>{{story4.story-part1.two}}</p>
            </div>
        </div>
        <div class="story_part1 story4">
            <div class="para_story">
                <p>{{story4.story-part2.one}}</p>
            </div>
            <div class="para_story">
                <p>{{story4.story-part2.two}}</p>
            </div>
            <div class="para_story">
                <p>{{story4.story-part2.three}}</p>
            </div>
            <div class="para_story">
                <p>{{story4.story-part2.four}}</p>
            </div>
        </div>
    </div>
</div>
